{% extends "base.html" %} {% block title %}
<section>
  <div class="container">
    <h2>Edit Note</h2>

    <form
      action="{{ url_for('note.edit_note',note_id=note.id) }}"
      method="post"
    >
      <div>
        <input
          type="text"
          name="title"
          placeholder="Title"
          value="{{ note.title }}"
        />
      </div>
      <div>
        <textarea
          name="description"
          id="description"
          cols="30"
          rows="10"
          placeholder="Description..."
        >
 {{note.description}} </textarea
        >
      </div>
      <div>
        <input type="submit" value="Update Note" />
      </div>
    </form>
  </div>
</section>
{% endblock %}
