<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.3.5/tailwind.min.css"
    /> -->
    <title>Notes App</title>
  </head>
  <body>
    <header>
      <div class="container flex items-center space-x-4">
        <div>
          <a href="{{url_for('main.index')}}">
            <h1>Notes App</h1>
          </a>
        </div>
        <div>
          <div><a href="{{ url_for('note.add') }}">Add New Note</a></div>
        </div>
        {% if session.get('current_user') %}
        <div>
          <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
        {% else %}
        <div>
          <a href="{{url_for('auth.login')}}">Login</a>
        </div>
        {% endif %}
      </div>
    </header>
    <main>{% block title %}{% endblock %}</main>
    <footer>
      <div class="container">
        <p>Developed by diabyml</p>
      </div>
    </footer>
  </body>
</html>
